h1, .h1{
    font-weight: bold;
    font-size: 28px;
    margin:0px 0 10px 0;
    text-transform: capitalize;
}
#description{
    color: rgb(236, 109, 192);
}

#image-container{
    background-color: rgb(0, 204, 255);
    height: 200px;
    width: 100%;
    display: flex;
}

#image-carousel{
    background-color: darkorchid;
    height: 100%;
    width: 50px;
    margin-left: 15px;
}

#image-display{
    background-color: rgb(42, 161, 96);
    height: 100%;
    width: 180px;
    margin-left: 15px;
}